@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  position: fixed;
  background-color: #fff;
  width: 100%;
}

header .logo img {
  width: 7rem;
  height: 5rem;
}

header nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

header nav a {
  text-decoration: none;
  color: #42446e;
}

header nav a:hover {
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

header nav .active {
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  color: transparent;
}

section .container1 {
  padding: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section .container1 h1 {
  color: #42446e;
  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

section .container1 h1 span {
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section .container1 .my-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  border-radius: 50%;
}

section .container1 .my-picture img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-width: 0.4rem;
  border-style: solid;
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  border-color: transparent;
}

section .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

section .container2 h2 {
  color: #42446e;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

section .container2 p {
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

section .container2 .techs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .container2 .techs img {
  width: 5rem;
  height: 5rem;
  transition: all 0.2s linear;
}

section .container2 .techs img:hover {
  transform: scale(1.3);
}

section .container2 .techs .frontend {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  padding: 2rem 0;
}

section .container2 .techs .backend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  padding: 2rem 0;
}

section .container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

section .container3 h2 {
  color: #42446e;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 2rem;
}

section .container3 p {
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

section .container3 .cards {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

section .container3 .cards .card {
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  transition: all 0.2s linear;
}

section .container3 .cards .card:hover {
  transform: scale(1.1);
}

section .container3 .cards img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

section .container3 .cards .description {
  padding: 1rem;
  max-width: 300px;
}

section .description h3 {
  color: #42446e;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

section .description p {
  color: #666;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

section .description a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

section .description a button {
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
}

section .description a button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

section hr {
  margin: 0 auto;
  width: 90vw;
  color: #666;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .part1 img {
  width: 7rem;
  height: 5rem;
}

footer .part2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

footer .part2 p {
  color: #42446e;
}

footer .part2 p:hover {
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer .part2 .icons {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

footer .part2 .icons a {
  color: #42446e;
}

footer .part2 .icons a:hover {
  background-image: linear-gradient(
    to right,
    hsla(317, 88%, 48%, 1),
    hsla(194, 100%, 50%, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
